[submodule "indexer"]
	path = indexer
	url = https://github.com/iodepo/oih-ui.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/iodepo/oih-ui.git
[submodule "api"]
	path = api
	url = https://github.com/iodepo/oih-ui.git
