[submodule "indexer"]
	path = indexer
	url = git@github.com:derilinx/oih-indexer.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:derilinx/unesco-oih.git
[submodule "api"]
	path = api
	url = git@github.com:derilinx/unesco-oih.git
